.map {
  width: 100%;
  height: 100%;
}

.markerContent {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.markerContent img {
  border-radius: 3px;
  position: relative;
}
.mapContent {
  position: relative;
}

.mapButton {
  position: absolute;
  top: 1rem;
  right: 1rem;

  z-index: 750; /* on top of every Leaflet panes */
}