.map {
  width: 100%;
  height: 100%;
}

.markerContent {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.markerContent img {
  border-radius: 3px;
  position: relative;
}

.markerContent .title {
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
}

.mapContent {
  position: relative;
}

.mapButtons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  z-index: 750; /* on top of every Leaflet panes */

  display: flex;
}

.mapButtons button,
.mapButtons a {
  margin-left: 0.5rem;
}
