.root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  padding-top: 3rem;
}

.countdown {
  font-family: monospace;
  font-size: 1.5rem;
}