.list {
  margin: 2rem 0;
}

.list > div {
  font-weight: bold;
  margin: 1rem 0;
}

.list a:hover {
  color: #1fe885;
}

.footer {
  margin: 1rem 0;
  padding: 0 1rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}