.content {
  line-height: 24px;
  text-justify: auto;
  text-align: justify;
}

.imageContainer {
  width: 100%;
  max-width: 550px;
  margin-bottom: 1rem;
}

.imageContainer img {
  border-radius: 5px;
}

.footer {
  margin: 1rem 0;
  padding: 0 1rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.navLink {
  -webkit-box-shadow: 0px 0px 0px 1px black;
  -moz-box-shadow: 0px 0px 0px 1px black;
  box-shadow: 0px 0px 0px 1px black;

  transition: box-shadow 0.1s ease-in-out;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: black;
  margin: 3px;
  border-radius: 5px;
  padding: 0.3rem;
}

.navLink:hover {
  -webkit-box-shadow: 0px 0px 0px 3px black;
  -moz-box-shadow: 0px 0px 0px 3px black;
  box-shadow: 0px 0px 0px 3px black;
}

.navLink span {
  margin: 0 0.3rem;
}

@media (prefers-color-scheme: dark) {
  .navLink {
    -webkit-box-shadow: 0px 0px 0px 1px white;
    -moz-box-shadow: 0px 0px 0px 1px white;
    box-shadow: 0px 0px 0px 1px white;
    color: white;
  }

  .navLink:hover {
    -webkit-box-shadow: 0px 0px 0px 3px white;
    -moz-box-shadow: 0px 0px 0px 3px white;
    box-shadow: 0px 0px 0px 3px white;
  }

  .navLink svg {
    filter: invert(100%);
  }

  .invert svg {
    filter: invert(100%);
  }
}
