.content {
  line-height: 24px;
  text-justify: auto;
  text-align: justify;
}

.imageContainer {
  width: 100%;
  max-width: 550px;
  margin-bottom: 1rem;
}

.imageContainer img {
  border-radius: 5px;
  transition: all 0.3s;
}

.footer {
  margin: 1rem 0;
  padding: 0 1rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

