.root {
  width: 100%;
}

.stats {
  margin: 2rem 0;
}

.item {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.data {
  margin-right: 2rem;
}

.value {
  font-size: 3.5rem;
}

.bigEmoji {
  font-size: 3rem;
}

.footer {
  padding: 0 1rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}
